/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2018, 4:21:37 PM
    Author     : Samsul Hoque
*/

.myNav
{
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 30px;
}

h1
{
    padding: 10px;
}